[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
jedi = "*"
pylint = "*"

[packages]
django = "*"
django-choices = "*"

[requires]
python_version = "3.7.2"

[scripts]
dev = "pipenv run django-admin runserver"
lint = "pipenv run flake8 ./**/*.py"
